@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="file"] {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --vh: 100%;
}

.background {
  background: white;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0f1419;
}

.loading-container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

button {
  background-color: white;
  color: #0f1419;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

p {
  color: #536471;
}

.active p {
  color: #0f1419;
  font-weight: bold;
}

.underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

img {
  background: white;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ac {
  align-items: center;
}

.p1 {
  padding: 12px 16px;
}

.w1 {
  width: 100%;
}

.h1 {
  height: 100%;
}

.p-r {
  position: relative;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: rgb(29, 155, 240);
  transition: all 0.2s;
}

.btn:hover:not(.black, .btn-white) {
  background-color: #1a8edb;
}

.btn-white {
  color: #0f1419;
  background-color: white;
  border: solid 1px rgb(207, 217, 222);
}

input[disabled] {
  opacity: 50%;
  cursor: default;
}

.medium {
  width: 233px;
  height: 52px;
  padding: 7px 20px;
  margin: 8px 0px 4px;
  font-size: 17px;
}

.xs {
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
}

.small {
  height: 36px;
  padding: 0 16px;
  font-size: 15px;
}

.mb-tweet {
  position: fixed;
  z-index: 300;
  bottom: 73px;
  right: 20px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px, rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

.black {
  background-color: #0f1419;
}

.icon {
  width: 18.75px;
  height: 18.75px;
  color: #4d6171;
}

.fill {
  color: rgb(29, 161, 242);
}

.blue,
.green,
.pink {
  background: rgba(255, 255, 255, 0);
}

.blue:hover {
  background: #e1eef6;
}

.blue:hover .icon {
  color: #1d9bf0;
}
.green:hover :nth-child(1) {
  background: #def1eb;
}

.green:hover .icon,
.green:hover :nth-child(2),
.green .fill {
  color: rgb(0, 186, 124);
}

.pink:hover :nth-child(1) {
  background: #f7e0eb;
}

.pink:hover .icon,
.pink:hover :nth-child(2),
.pink .fill {
  color: rgb(249, 24, 128);
}

.red {
  color: red;
}

.app-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.wrapper {
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.init {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.container {
  position: absolute;
  top: 53px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: solid 1px #000;
  border-color: rgb(239, 243, 244);
  border-top: none;
  font-size: 14px;
}

.loading {
  background: white;
  position: absolute;
  top: 120;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.logo-box {
  width: 52px;
  height: 52px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.logo {
  color: rgb(29, 155, 240);
  width: 40px;
  height: 40px;
}

.lg-logo {
  color: rgb(29, 155, 240);
  width: 70px;
  height: 70px;
}

.sm-logo {
  color: rgb(29, 155, 240);
  width: 24.51px;
  height: 100%;
}

.mb-2 {
  margin-bottom: 2px;
}

.m-auto {
  margin: 0 auto;
}

.p-4 {
  padding: 0 4px;
}

.active-bar {
  background-color: rgb(29, 155, 240);
  min-width: 56px;
  width: 100%;
  height: 4px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* 가로 navbar */
.nav {
  border-bottom: solid 1px #eee;
  display: flex;
  width: 100%;
}

.nav-fix {
  position: fixed;
  top: 53px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  z-index: 50;
  width: 100%;
  max-width: 598.4px;
}

.nav ul {
  width: 100%;
}

.nav li {
  float: left;
}

.tab {
  height: 53px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.tab p {
  font-size: 15px;
}

.tab-box {
  position: relative;
  height: 100%;
  padding: 16px 0px;
  display: flex;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.list-container {
  margin-top: 53px;
}

/* user img */

.user-img {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.user-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

/* 트윗 아이콘 */

.twticon-box {
  width: 34.75px;
  height: 34.75px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.blue,
.green,
.pink {
  background: rgba(255, 255, 255, 0);
}

.blue:hover {
  background: #e1eef6;
}

.blue:hover .icon {
  color: #1d9bf0;
}

.green:hover .icon {
  color: #00ba7c;
}

.pink:hover .icon {
  color: #f92486;
}

.bm { /* 북마크 아이콘 */
  width: 16.7px;
  height: 16.7px;
}

.no-tweet {
  max-width: 400px;
  width: 100%;
  height: 168px;
  padding: 0 32px;
  margin: 32px auto;
}

.no-tweet h2 {
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 8px;
}

.no-tweet p {
  font-size: 15px;
  line-height: 20px;
}

/* 더보기 아이콘 */
.more-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.75px;
  height: 34.75px;
  border-radius: 30px;
  cursor: pointer;
}

.more {
  position: absolute;
  color: #455765;
  right: 8px;
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
  align-items: center;
  right: 12px;
}

.crop-container {
  border: none;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  z-index: 9999;
}

.connect-title {
  font-size: 20px;
  font-weight: bold;
  height: 48px;
}

.flex-item {
  width: 100%;
  height: 50%;
  display: flex;
}

@media screen and (max-width: 1298px) {
  .btn {
    transition: all 0s;
  }
  .medium {
    width: 50.4px;
    height: 50.4px;
    padding: 0;
  }
  .init,
  .loading-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media screen and (max-width: 688px) {
  .wrapper,
  .container {
    min-width: calc(100% - 88px);
  }
}

@media screen and (max-width: 499px) {
  .app-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .wrapper,
  .container {
    min-width: 100vw;
  }

  .container {
    padding-bottom: 53px;
  }

  .crop-container {
    top: 0%;
    left: 50%;
    max-width: 50vw;
    transform: translate(-50%, 0);
    z-index: 9999;
  }
}

@media (hover: hover) {
  .btn-white:hover {
    color: rgb(244, 33, 46);
    background-color: rgba(244, 33, 46, 0.1);
    border-color: rgb(253, 201, 206);
  }
}
