.container {
  width: 100%;
  max-width: 600px;
  height: 53px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 5px 16px;
  border: solid 1px #000;
  border-color: rgb(239, 243, 244);
  border-top: none;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;
}

.container h3 {
  font-size: 20px;
  font-weight: bold;
}

.container p {
  font-size: 13px;
  margin-top: 8px;
}

.icon-box {
  width: 56px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.hover {
  width: 34.4px;
  height: 34.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.icon {
  width: 20px;
  height: 20px;
}

.logo {
  width: 24.51px;
  height: 100%;
}

.center {
  justify-content: center;
}

.mb-icons {
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: center;
  width: 68.8px;
  height: 34.4px;
}

.mb-icon {
  width: 34.4px;
  height: 34.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  position: absolute;
  right: 10px;
}

@media screen and (max-width: 688px) {
  .wrapper,
  .container {
    min-width: calc(100vw - 88px);
  }
}

@media screen and (max-width: 499px) {
  .container {
    max-width: 100vw;
  }
  .container h3 {
    font-size: 17px;
  }
  .container p {
    margin-top: 6px;
  }
}

@media (hover: hover) {
  .hover:hover {
    background: #e8e7e8;
  }
  .mb-icon:hover {
    cursor: pointer;
  }
}
