@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.background {
  /* background-color: #15202b; */
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.light {
  background-color: white;
  color: black;
}

button {
  background-color: white;
  color: black;
}

/* .light input, .light button {
  border: gray;
  border-style: solid 2px;
} */

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.logo-box {
  width: 100%;
  height: 56px;
  padding: 2px;
}

.logo {
  color: rgb(29, 155, 240);
  width: 28.38px;
  height: 50px;
  padding-left: 12px;
}

.tweet-input::-moz-placeholder {
  color: white;
  opacity: 0.9;
}

.tweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.leftbar-container {
  width: 100%;
  max-width: 275px;
  padding: 0px 8px;
}

.main-container {
  /* max-width: 890px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rightbar-container {
  width: 100%;
  max-width: 350px;
  padding: 5px 0px;
  margin-left: 30px;
}

.rightbar-container h3 {
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  font-size: 19px;
  width: 240px;
  font-family: 'NotoSansKR';
}

.navbar li {
  margin: 0px auto;
  cursor: pointer;
  padding: 12px;
}

.navbar li:focus {
  font-weight: bold;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item span {
  margin: 0px 20px;
}

.topbar-container {
  font-weight: bold;
  height: 50px;
  padding: 5px 16px;
  font-size: 20px;
  font-family: 'NotoSansKR';
  border-bottom: solid 1px #eee;
  justify-content: center;
  display: flex;
  flex-direction: column;

}


.topbar-container p {
  font-size: 11px;
  font-weight: normal;
  color: #7b8892;
  margin-top: 5px;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  background-color: #eff3f4;
  border-radius: 30px;
  border: 1px solid white;
  overflow: hidden;
}

.searchbar__icon {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  color: #536471;
}

.searchbar__input {
  width: 270px;
  height: 44px;
  color: black;
  position: relative;
  left: 52px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 15px;
  /* font-family: 'NotoSansKR';
  font-weight: 300; */
}

.search__container:focus-within {
  background: white;
  border: 1px solid rgb(29, 155, 240);
  transition: all 0.02;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  color: rgb(29, 155, 240);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-color: #eee;
  font-size: 14px;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 190px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
  margin-top: 5px;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */
.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profileLink {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.logOut {
  margin-top: 50px;
}

/* Nwitter Factory */
.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: black;
  border: 1px solid rgb(29, 155, 240);
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: rgb(29, 155, 240);
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.factoryInput__label {
  color: rgb(29, 155, 240);
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: rgb(29, 155, 240);
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */
.tweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  /* max-width: 320px; */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.tweet h4 {
  font-size: 16px;
}

.tweet img {
  /* right: -10px;
  top: 20px;
  position: absolute; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /* max-width: ; */
  margin-top: 10px;
}

.tweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tweet__actions span {
  cursor: pointer;
}

.tweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */
.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  margin: 0 5px;
  background: white;
  cursor: pointer;
}

/* AuthForm */
.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: rgb(29, 155, 240);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
} /*# sourceMappingURL=App.css.map */
